Repository knative/client, pull requests merged in 2019-09, with the labels that each got.

#262 feature: --no-headers flag for resource listing
  docs/cmd/kn_revision_list.md
  docs/cmd/kn_route_list.md
  docs/cmd/kn_service_list.md
  pkg/kn/commands/human_readable_flags.go
  pkg/kn/commands/revision/revision_list_test.go
  pkg/kn/commands/route/list_test.go
  pkg/kn/commands/service/service_list_flags.go
  pkg/kn/commands/service/service_list_test.go
  pkg/printers/interface.go
  pkg/printers/tableprinter.go
  pkg/util/compare.go
  pkg/util/compare_test.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#331 docs: Adds documentation for traffic splitting support in kn
  CHANGELOG.adoc
  docs/traffic_splitting.md
Labels: approved, cla: yes, lgtm, size/L

#399 Fill up test cases for files with low code coverage
  pkg/kn/commands/route/list_flags_test.go
  pkg/kn/commands/service/service_delete_test.go
  pkg/kn/commands/service/service_list_flags_test.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#245 Rename go files under command group dir
  pkg/kn/commands/plugin/handler.go
  pkg/kn/commands/plugin/handler_test.go
  pkg/kn/commands/plugin/list.go
  pkg/kn/commands/plugin/list_flags.go
  pkg/kn/commands/plugin/list_flags_test.go
  pkg/kn/commands/plugin/list_test.go
  pkg/kn/commands/plugin/verifier.go
  pkg/kn/commands/plugin/verifier_test.go
  pkg/kn/commands/plugin/verifier_windows.go
  pkg/kn/commands/revision/describe.go
  pkg/kn/commands/revision/describe_test.go
  pkg/kn/commands/revision/list.go
  pkg/kn/commands/revision/list_flags.go
  pkg/kn/commands/revision/list_test.go
  pkg/kn/commands/route/describe.go
  pkg/kn/commands/route/describe_test.go
  pkg/kn/commands/service/create.go
  pkg/kn/commands/service/create_mock_test.go
  pkg/kn/commands/service/create_test.go
  pkg/kn/commands/service/delete.go
  pkg/kn/commands/service/delete_test.go
  pkg/kn/commands/service/describe.go
  pkg/kn/commands/service/describe_test.go
  pkg/kn/commands/service/list.go
  pkg/kn/commands/service/list_flags.go
  pkg/kn/commands/service/list_flags_test.go
  pkg/kn/commands/service/list_mock_test.go
  pkg/kn/commands/service/list_test.go
  pkg/kn/commands/service/update.go
  pkg/kn/commands/service/update_test.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#410 chore(template): Update release note section in PR template
  .github/pull-request-template.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#409 chore (service): Use sets utility for holding updated env vars
  pkg/serving/config_changes.go
  vendor/modules.txt
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#412 fix analyzer warnings
  pkg/kn/commands/service/update_test.go
  pkg/kn/commands/testing_helper.go
  pkg/kn/commands/types_test.go
  pkg/printers/tablegenerator.go
  pkg/serving/config_changes.go
  pkg/serving/v1alpha1/client_test.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#401 Add --service-account-name flag
  CHANGELOG.adoc
  docs/cmd/kn_service_create.md
  docs/cmd/kn_service_update.md
  pkg/kn/commands/service/configuration_edit_flags.go
  pkg/kn/commands/service/create_test.go
  pkg/serving/config_changes.go
  pkg/serving/config_changes_test.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#420 refactor(knclient): Moved KnClient -> KnServingClient
  pkg/kn/commands/plugin/handler.go
  pkg/kn/commands/plugin/list.go
  pkg/kn/commands/revision/list.go
  pkg/kn/commands/service/create.go
  pkg/kn/commands/service/describe.go
  pkg/kn/commands/service/list.go
  pkg/kn/commands/service/service.go
  pkg/kn/commands/service/service_test.go
  pkg/kn/commands/testing_helper.go
  pkg/kn/commands/types.go
  pkg/serving/v1alpha1/client.go
  pkg/serving/v1alpha1/client_test.go
  pkg/util/schema_handling.go
  pkg/util/schema_handling_test.go
  vendor/modules.txt
Labels: approved, cla: yes, lgtm, size/L

#421 Restructure Docs
  README.md
  docs/README.md
  docs/cmd/kn_plugin.md
  docs/operations/README.md
  docs/operations/autoscaling.md
  docs/operations/labeling.md
  docs/operations/management.md
  docs/operations/others.md
  docs/operations/resources.md
  docs/plugins/README.md
  docs/traffic/README.md
  docs/traffic/examples.md
  docs/traffic/revisions.md
  docs/workflows/README.md
  docs/workflows/basic.md
Labels: approved, cla: yes, lgtm, size/L
